.displaytable {width: 100%;}
.displaytable td {width: 200px;}
.high {color: green; background-color: khaki;}
img.small {
	width: 150px;
    height: 100px;
}
.top {border-style: double;  width: 200; margin-left: auto; }