body::after
{

display: none;
}
#mycontent
                 {
		float:center;		 
	     }
#prevlink
               {
		float: left;	   
	    }
#nextlink
             {
        float: right;
        }
#mypicture 
               {
         width: 400px;
		 height: 350px;
	     

        }